
        body {
            font-family: "Lato", sans-serif;
        }
         #mySidenav{
                width: 220px;         
         }
         #admin{
            height: auto;
            width: 220px;
            position:fixed;
           
            z-index: 1;
            left: 0;
        
            padding-top: 10px;
         }
         .sidebar{
             overflow:scroll;
             height: 100%;
         }    
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 2;
            top: 5px;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        } 
         
        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #00ffff;
        }
      


        #main {
            transition: margin-left .5s;
            padding: 16px;
        }
         
         @media(max-width:600px) {
              .nav{display: none;}
             
         }
        @media screen and (max-height: 600px) {
            .message-preview{display: none;}
          .sidenav {padding-top: 15px;
         }
          .sidenav a {font-size: 18px;}
            
        }
          /*--------cuadro estadistico-----------  */
		.caja{
			margin:auto;
			max-width:350px;
            
			padding:10px;
			border:3px solid #bdbdbd;
			border-radius:8px;
		}
		
		.caja select{
			width:100%;
			font-size:16px;
			padding:5px;
			
			border-radius:5px;
			color: darkred;
            font-size: 20px;
		}
		
		.resultados{
          
            background: rgba(0,0,0,.8);
			margin:auto;
			margin-top:20px;
			width:95%;
            height:100%;
		}
       
         
